h2 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: larger;
}


.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar_left {
    width: 300px;
    background-color: #0e52a0;
    padding: 1rem;
}

.sidebar_left img {
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar_left h2 {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.sidebar_left h3 {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.sidebar_left p {
    margin-top: 1rem;
    color: #fff;
    text-align: center;
}

.sidebar_left ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #fff;
}

.profile-card {
    flex: 1;
    background-color: #fff;
    padding: 1rem;
}

.profile-card .header {
    text-align: center;
    margin-bottom: 2rem;
}

.institution {
    display: flex;
    font-size: 20px;
    color: #333;
    justify-content: space-between;
    align-items: center;
}

.sidebar_right {
    width: 300px;
    background-color: #0e52a0;
    padding: 1rem;
}