body {
    font-family: Arial, sans-serif;
    background-color: #0c5a74;
    color: #333;
}

.box {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: moveRight 4s infinite alternate;
}

@keyframes moveRight {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 200px;
        top: 0;
    }

    50% {
        left: 200px;
        top: 200px
    }

    75% {
        left: 0;
        top: 200px
    }

    100% {
        left: 0;
        top: 0;
    }
}

.circle {
    width: 100px;
    height: 100px;
    background: blue;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.circle:hover {
    transform: scale(1.5);
}

#ball {
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#box {
    width: 100px;
    height: 100px;
    background: purple;
    transition: transform 1s ease;
}

.animate {
    transform: rotate(360deg);
}

.layout {
    display: flex;
    min-height: 100vh;
}

.box1 {
    width: 300px;
    background-color: #1c1c1c;
    padding: 1rem;
    /* border-right: 5px solid #8d0000; */
}

.box2 {
    flex: 1;
    padding: 1rem;
}

.box3 {
    width: 300px;
    background-color: #1c1c1c;
    padding: 1rem;
    /* border-right: 5px solid #8d0000; */
}

.space {
    width: 100%;
    background-color: aliceblue;
    height: 30rem;
}

.bouncing_ball {
    width: 50px;
    height: 50px;
    background-color: #ff0000;
    border-radius: 50%;
    /* position: relative; */
    top: 10;
    left: 0;
    /* animation: bounce 2s infinite; */
}