<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>

<body style="margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f9f9f9; color: #333;">
    <table width="100%" cellpadding="0" cellspacing="0"
        style="max-width: 640px; margin: auto; background-color: #ffffff; padding: 30px; border: 1px solid #e0e0e0; border-radius: 6px;">
        <tr>
            <td style="text-align: center; padding-bottom: 20px;">
                <p style="margin: 0; color: #666;">Formulario para generación de correo</p>
                <hr style="margin-top: 15px; border: none; border-top: 1px solid #ddd; width: 60%;">
            </td>
        </tr>

        <tr>
            <td style="font-size: 16px; line-height: 1.6; text-align: justify;">

                <p>Llene los siguientes campos,</p>

                <form action="/confirmacion" method="post">
                    <label for="nombre">Nombre:</label><br>
                    <input type="text" id="nombre" name="nombre" required  style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Nombre Completo"><br>

                    <label for="correo">Correo electrónico:</label><br>
                    <input type="email" id="email" name="email" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Correo"><br>

                    <label for="telefono">Teléfono:</label><br>
                    <input type="tel" id="telefono" name="telefono" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Telefono"><br>

                    <label for="empresa">Empresa:</label><br>
                    <input type="text" id="empresa" name="empresa" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Empresa"><br>

                    <label for="plaza">Plaza:</label><br>
                    <input type="text" id="plaza" name="plaza" required style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Plaza"><br>

                    <button type="submit"
                        style="background-color: #007BFF; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-weight: bold;">
                        Enviar
                    </button>
                </form>

            </td>
        </tr>
    </table>
</body>

</html>